h1{
  font-size: 200%;
  color: antiquewhite;
  text-align: center;
  margin-top: 35%;
  
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  
  .heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: pulse 1s infinite;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  }
  
  .heart::before {
    top: -50px;
    left: 0;
  }
  
  .heart::after {
    left: 50px;
    top: 0;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(1.1) rotate(-45deg);
    }
  }
  